body{
background-color: #0B0B21;
}

.rectangle1{
height: 200px;
width: 100px;
left: 42.5%;
top: 86.3%;
}

.rectangle2{
height: 200px;
width: 100px;
left: 42.5%;
top: 86.3%;


}

.rectangle3{
height: 200px;
width: 100px;
left: 42.5%;
top: 86.3%;


}

.rectangle4{
height: 200px;
width: 100px;
left: 42.5%;
top: 86.3%;


}

.rectangle5{
height: 200px;
width: 100px;
left: 42.5%;
top: 86.3%;


}

.rectangle6{
height: 200px;
width: 100px;
left: 42.5%;
top: 86.3%;


}

.rectangle7{
height: 200px;
width: 100px;
left: 42.5%;
top: 86.3%;


}

.rectangle8{
height: 200px;
width: 100px;
left: 42.5%;
top: 86.3%;


}

.rectangle9{
height: 200px;
width: 100px;
left: 42.5%;
top: 86.3%;


}

.rectangle10{
height: 200px;
width: 100px;
left: 42.5%;
top: 86.3%;


}

.rectangle11{
height: 200px;
width: 100px;
left: 42.5%;
top: 86.3%;


}

.rectangle12{
height: 200px;
width: 100px;
left: 42.5%;
top: 86.3%;


}

.top-half{
height: 190px;
background-color: blue;
}

.bottom-half{
height: 10px;
background-color: red;
}
